.kalkulator-card {
  position: relative;
  margin: auto;
  width: 500px;
  height: 300px;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.mfont {
  font-family: 'Major Mono Display', monospace;
}

p {
  font-family: 'Major Mono Display', monospace;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
  text-align: center;
}

.bilangan {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: auto;
}

.mycontainer {
  display: table;
  vertical-align: middle;
  width: 100%;
}

.box {
  display: table-cell;
}

.left {
  width: 100%;
  height: 100%;
}

.middle {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.right {
  width: 100%;
}

.operator {
  color: red;
}

.number {
  color: rgb(0, 123, 255);
}

.count {
  width: 100%;
}

.result {
  color: rgb(40, 167, 69);
  text-align: center;
  padding: 3rem;
}

.my-background {
  background-position-y: -1000px;
  background-image: url("https://i.imgur.com/WSNcL8P.jpg");
  background-size: cover;
  height: 100%;
}